USE [QLTOYSTORE]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](max) NULL,
	[FullName] [nvarchar](max) NULL,
	[Age] [int] NULL,
	[Gender] [int] NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [varchar](max) NULL,
	[Phone] [int] NULL,
	[Authority] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InfoOrder]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfoOrder](
	[InfoOrderID] [varchar](50) NOT NULL,
	[OrderID] [varchar](50) NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [varchar](50) NULL,
	[Phone] [varchar](20) NULL,
	[Address] [nvarchar](max) NULL,
	[TotalPrice] [int] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[InfoOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[ItemID] [varchar](50) NOT NULL,
	[OrderID] [varchar](50) NULL,
	[ToyID] [varchar](50) NULL,
	[Quantity] [int] NULL,
	[TotalPrice] [int] NULL,
	[Discount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [varchar](50) NOT NULL,
	[UserName] [varchar](50) NULL,
	[OrderPrice] [int] NULL,
	[OrderStatus] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Toy]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Toy](
	[ToyID] [varchar](50) NOT NULL,
	[ToyName] [nvarchar](max) NULL,
	[ToyTypeID] [varchar](50) NULL,
	[Brand] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [varchar](max) NULL,
	[Price] [int] NULL,
	[Quantity] [int] NULL,
	[OrderedQuantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ToyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToyType]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToyType](
	[ToyTypeID] [varchar](50) NOT NULL,
	[ToyTypeName] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Account] ([UserName], [Password], [FullName], [Age], [Gender], [Address], [Email], [Phone], [Authority]) VALUES (N'admin', N'123456', N'Admin', 20, 1, N'Gundam Toy Store', N'Admin@gmail.com', 936759690, 1)
INSERT [dbo].[Account] ([UserName], [Password], [FullName], [Age], [Gender], [Address], [Email], [Phone], [Authority]) VALUES (N'mihduc2910', N'mihduc2910', N'Lê Minh Đức', 20, 1, N'Lam Dien', N'minhduc293103@gmail.com', 936759690, 0)
INSERT [dbo].[Account] ([UserName], [Password], [FullName], [Age], [Gender], [Address], [Email], [Phone], [Authority]) VALUES (N'superadmin', N'123456', N'Super Admin', 20, 1, N'Gundam Toy Store', N'SuperAdmin@gmail.com', 123456789, 2)
GO
INSERT [dbo].[InfoOrder] ([InfoOrderID], [OrderID], [Name], [Email], [Phone], [Address], [TotalPrice], [Status]) VALUES (N'149269', N'995167', N'Super Admin', N'SuperAdmin@gmail.com', N'0123456789', N'Gundam Toy Store', 10390000, 0)
INSERT [dbo].[InfoOrder] ([InfoOrderID], [OrderID], [Name], [Email], [Phone], [Address], [TotalPrice], [Status]) VALUES (N'549748', N'997081', N'Nguyễn Tuấn Anh ', N'tuananhngu@gmail.com', N'0123456789', N'Vĩnh Phúc', 6430000, 0)
INSERT [dbo].[InfoOrder] ([InfoOrderID], [OrderID], [Name], [Email], [Phone], [Address], [TotalPrice], [Status]) VALUES (N'681036', N'728904', N'Lê Minh Đức', N'minhduc293103@gmail.com', N'0936759690', N'Lam Dien', 2637000, 0)
GO
INSERT [dbo].[OrderItem] ([ItemID], [OrderID], [ToyID], [Quantity], [TotalPrice], [Discount]) VALUES (N'283951', N'728904', N'91503', 4, 1920000, 0)
INSERT [dbo].[OrderItem] ([ItemID], [OrderID], [ToyID], [Quantity], [TotalPrice], [Discount]) VALUES (N'560526', N'997081', N'71394', 2, 2500000, 0)
INSERT [dbo].[OrderItem] ([ItemID], [OrderID], [ToyID], [Quantity], [TotalPrice], [Discount]) VALUES (N'609414', N'997081', N'89584', 10, 3900000, 0)
GO
INSERT [dbo].[Orders] ([OrderID], [UserName], [OrderPrice], [OrderStatus]) VALUES (N'728904', N'mihduc2910', 2607000, 2)
INSERT [dbo].[Orders] ([OrderID], [UserName], [OrderPrice], [OrderStatus]) VALUES (N'942835', N'superadmin', 28240021, 2)
INSERT [dbo].[Orders] ([OrderID], [UserName], [OrderPrice], [OrderStatus]) VALUES (N'995167', N'superadmin', 10360000, 2)
GO
INSERT [dbo].[Toy] ([ToyID], [ToyName], [ToyTypeID], [Brand], [Description], [Image], [Price], [Quantity], [OrderedQuantity]) VALUES (N'21583', N'HYAKU-SHIKI VER. 2.0', N'MG', N'Bandai', N'     Hyaku-Shiki Ver. 2.0 - MG - 1/100  bên cạnh hệ khớp cải tiến tốt hơn, tỷ lệ cơ thể đẹp mắt hơn, còn sở hữu một lớp giáp lung linh. Phần giáp vàng bên ngoài của Hyaku-Shiki được phủ sơn ánh kim mờ, vô vùng quyến rũ khi có ánh sáng chiếu vào, rất đáng tiền. Phần cánh phía sau có thể đóng mở nhẹ. Đi kèm là các vũ khí như Beam Saber, Beam Rifle, và Clay Bazooka.', N'hyaku-shiki ver 2.0.jpg', 1850000, 4, 0)
INSERT [dbo].[Toy] ([ToyID], [ToyName], [ToyTypeID], [Brand], [Description], [Image], [Price], [Quantity], [OrderedQuantity]) VALUES (N'38938', N'GUNDAM AGE-2 NORMAL', N'MG', N'Bandai', N'Với những chiếc cánh thuôn nhọn cá tính ở hai bên vai, Gundam AGE-2 Normal (MG - 1/100)  mang lại sự vui mắt cho người xem mỗi khi ngắm nhìn. Và còn gì nữa nhỉ? Đúng rồi, chúng ta đâu thể nào bỏ qua được khả năng chuyển dạng thành chiến đấu cơ cực kỳ độc đáo của Mobile Suit này chứ. Ở dạng nào thì Gundam AGE-2 Normal (MG - 1/100) cũng đều đáng để sở hữu.', N'gundam age-2 normal.jpg', 1080000, 6, 0)
INSERT [dbo].[Toy] ([ToyID], [ToyName], [ToyTypeID], [Brand], [Description], [Image], [Price], [Quantity], [OrderedQuantity]) VALUES (N'46843', N'RX-78-2 GUNDAM PG UNLEASHED 1/60', N'PG', N'Bandai', N'RX-78-2 Gundam PG Unleashed 1/60  là thành tựu mới trong công cuộc cải tiến, phát triển Gunpla của Bandai. Mẫu Gundam này tập trung hàng loạt những tiến bộ vượt bậc trong khả năng thiết kế, sản xuất mô hình của hãng.', N'rx-78-2 gundam.jpg', 7999000, 1, 0)
GO
INSERT [dbo].[ToyType] ([ToyTypeID], [ToyTypeName]) VALUES (N'SD', N'Super Deformed')
INSERT [dbo].[ToyType] ([ToyTypeID], [ToyTypeName]) VALUES (N'HG', N'High Grade')
INSERT [dbo].[ToyType] ([ToyTypeID], [ToyTypeName]) VALUES (N'RG', N'Real Grade')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK__ToyType__516152B8EE436A34]    Script Date: 06/11/2023 2:25:31 PM ******/
ALTER TABLE [dbo].[ToyType] ADD PRIMARY KEY NONCLUSTERED 
(
	[ToyTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InfoOrder]  WITH CHECK ADD  CONSTRAINT [FK_OrdersInInfoOrder] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[InfoOrder] CHECK CONSTRAINT [FK_OrdersInInfoOrder]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_Orders]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_Toy] FOREIGN KEY([ToyID])
REFERENCES [dbo].[Toy] ([ToyID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_Toy]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_CustomerOrder] FOREIGN KEY([UserName])
REFERENCES [dbo].[Account] ([UserName])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_CustomerOrder]
GO
ALTER TABLE [dbo].[Toy]  WITH CHECK ADD  CONSTRAINT [FK_ToyType] FOREIGN KEY([ToyTypeID])
REFERENCES [dbo].[ToyType] ([ToyTypeID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Toy] CHECK CONSTRAINT [FK_ToyType]
GO
/****** Object:  StoredProcedure [dbo].[Account_CheckLogin]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[Account_CheckLogin]
	@UserName varchar(max),
	@Password varchar(max)
AS
BEGIN
    select *
    from Account
	where Account.UserName = @UserName and Account.Password = @Password
END
GO
/****** Object:  StoredProcedure [dbo].[Account_Create]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Account_Create]
	@UserName varchar(50),
	@Password varchar(max),
	@FullName nvarchar(max),
	@Age int,
	@Gender int,
	@Address nvarchar(max),
	@Email varchar(max),
	@Phone int,
	@Authority int
AS
BEGIN
    insert into Account(UserName,Password,FullName,Age,Gender,Address,Email,Phone,Authority) 
	values(@UserName, @Password, @FullName, @Age, @Gender, @Address, @Email, @Phone, @Authority)
END
GO
/****** Object:  StoredProcedure [dbo].[Account_Delete]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Account_Delete]
    @ID varchar(50)
AS
BEGIN
    DELETE FROM Account WHERE UserName = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[Account_GetAll]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Account_GetAll]

AS
BEGIN
	select *
	from Account
END
GO
/****** Object:  StoredProcedure [dbo].[Account_GetWithEmail]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Account_GetWithEmail]
	@Email varchar(max)
AS
BEGIN
	select *
	from Account
	where Email = @Email ;
END
GO
/****** Object:  StoredProcedure [dbo].[Account_GetWithUser]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Account_GetWithUser]
	@UserName varchar(50)
AS
BEGIN
	select *
	from Account
	where UserName = @UserName ;
END
GO
/****** Object:  StoredProcedure [dbo].[Account_Update]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Account_Update]
	@UserName varchar(50),
	@FullName nvarchar(max),
	@Age int,
	@Gender int,
	@Address nvarchar(max),
	@Email varchar(max),
	@Phone int,
	@Authority int
AS
BEGIN
    UPDATE Account
    SET		FullName = @FullName,
            Age = @Age,
            Gender = @Gender,
            Address = @Address,
			Email =@Email,
			Phone = @Phone,
			Authority = @Authority
    WHERE  UserName = @UserName
END
GO
/****** Object:  StoredProcedure [dbo].[InfoOrder_Create]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InfoOrder_Create]
	@InfoOrderID varchar(50),
	@OrderID varchar(50),
	@Name nvarchar(50),
	@Email varchar(50),
	@Phone varchar(20),
	@Address nvarchar(50),
	@TotalPrice int,
	@Status int
AS
BEGIN
    insert into InfoOrder(InfoOrderID, OrderID, Name, Email, Phone, Address,TotalPrice,Status) 
	values(@InfoOrderID, @OrderID, @Name, @Email, @Phone, @Address, @TotalPrice, @Status)
END
GO
/****** Object:  StoredProcedure [dbo].[InfoOrder_Delete]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InfoOrder_Delete]
    @ID varchar(50)
AS
BEGIN
    DELETE FROM InfoOrder WHERE InfoOrderID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[InfoOrder_GetAll]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InfoOrder_GetAll]
AS
BEGIN
	SELECT *
	FROM InfoOrder
END
GO
/****** Object:  StoredProcedure [dbo].[InfoOrder_GetInfoOrdersWithID]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InfoOrder_GetInfoOrdersWithID]
	@InfoOrderID varchar(50)
AS
BEGIN
	select *
	from InfoOrder
	where InfoOrderID = @InfoOrderID;
END
GO
/****** Object:  StoredProcedure [dbo].[InfoOrder_GetInfoOrderWithEmail]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[InfoOrder_GetInfoOrderWithEmail]
	@Email varchar(50)
AS
BEGIN
	SELECT *
	FROM InfoOrder
	WHERE Email = @Email
END
GO
/****** Object:  StoredProcedure [dbo].[InfoOrder_GetInfoOrderWithOrderID]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[InfoOrder_GetInfoOrderWithOrderID]
	@OrderID varchar(50)

AS
BEGIN
	SELECT *
	FROM InfoOrder
	WHERE OrderID = @OrderID
END
GO
/****** Object:  StoredProcedure [dbo].[InfoOrder_Update]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InfoOrder_Update]
	@InfoOrderID varchar(50),
	@OrderID varchar(50),
	@Name nvarchar(50),
	@Email varchar(50),
	@Phone varchar(20),
	@Address nvarchar(50),
	@TotalPrice int,
	@Status int

AS
BEGIN
    UPDATE InfoOrder
    SET		OrderID = @OrderID,
            Name = @Name,
            Email = @Email,
			Phone = @Phone,
			Address = @Address,
			TotalPrice = @TotalPrice,
			Status = @Status

    WHERE  InfoOrderID = @InfoOrderID
END
GO
/****** Object:  StoredProcedure [dbo].[OrderItem_Create]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OrderItem_Create]
	@ItemID varchar(50),
	@OrderID varchar(50),
	@ToyID varchar(50),
	@Quantity int,
	@TotalPrice int,
	@Discount int
AS
BEGIN
    insert into OrderItem(ItemID,OrderID,ToyID,Quantity,TotalPrice,Discount) 
	values(@ItemID, @OrderID, @ToyID, @Quantity, @TotalPrice, @Discount)
END
GO
/****** Object:  StoredProcedure [dbo].[OrderItem_Delete]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[OrderItem_Delete]
    @ID varchar(50)
AS
BEGIN
    DELETE FROM OrderItem WHERE ItemID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[OrderItem_GetOrderItemWithID]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OrderItem_GetOrderItemWithID]
	@ItemID varchar(50)

AS
BEGIN
	SELECT *
	FROM OrderItem
	WHERE ItemID = @ItemID
END
GO
/****** Object:  StoredProcedure [dbo].[OrderItem_GetOrderItemWithOrderID]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[OrderItem_GetOrderItemWithOrderID]
	@OrderID varchar(50)

AS
BEGIN
	SELECT *
	FROM OrderItem
	WHERE OrderID = @OrderID
END
GO
/****** Object:  StoredProcedure [dbo].[OrderItem_GetOrderItemWithOrderIDToyID]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[OrderItem_GetOrderItemWithOrderIDToyID]
	@OrderID varchar(50),
	@ToyID varchar(50)

AS
BEGIN
	SELECT *
	FROM OrderItem
	WHERE OrderID = @OrderID and ToyID = @ToyID
END
GO
/****** Object:  StoredProcedure [dbo].[OrderItem_Update]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OrderItem_Update]
	@ItemID varchar(50),
	@OrderID varchar(50),
	@ToyID varchar(50),
	@Quantity int,
	@TotalPrice int,
	@Discount int

AS
BEGIN
    UPDATE OrderItem
    SET		OrderID = @OrderID,
            ToyID = @ToyID,
            Quantity = @Quantity,
            TotalPrice = @TotalPrice,
			Discount = @Discount

    WHERE  ItemID = @ItemID
END
GO
/****** Object:  StoredProcedure [dbo].[Orders_Create]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Orders_Create]
	@OrderID varchar(50),
	@UserName varchar(50),
	@OrderPrice int,
	@OrderStatus int
AS
BEGIN
    insert into Orders(OrderID, UserName, OrderPrice, OrderStatus) 
	values(@OrderID, @UserName, @OrderPrice, @OrderStatus)
END
GO
/****** Object:  StoredProcedure [dbo].[Orders_Delete]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Orders_Delete]
    @ID varchar(50)
AS
BEGIN
    DELETE FROM Orders WHERE OrderID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[Orders_GetOrdersUser]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Orders_GetOrdersUser]
	@UserName varchar(50)
AS
BEGIN
	select *
	from Orders
	where UserName = @UserName ;
END
GO
/****** Object:  StoredProcedure [dbo].[Orders_GetOrdersUserOnStatus]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Orders_GetOrdersUserOnStatus]
	@UserName varchar(50),
	@OrderStatus int
AS
BEGIN
	select *
	from Orders
	where UserName = @UserName and OrderStatus = @OrderStatus;
END
GO
/****** Object:  StoredProcedure [dbo].[Orders_GetOrdersWithID]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Orders_GetOrdersWithID]
	@OrderID varchar(50)
AS
BEGIN
	select *
	from Orders
	where OrderID = @OrderID;
END
GO
/****** Object:  StoredProcedure [dbo].[Orders_Update]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Orders_Update]
	@OrderID varchar(50),
	@UserName varchar(50),
	@OrderPrice int,
	@OrderStatus int
AS
BEGIN
    UPDATE Orders
    SET		UserName = @UserName,
            OrderPrice = @OrderPrice,
			OrderStatus = @OrderStatus

    WHERE  OrderID = @OrderID
END
GO
/****** Object:  StoredProcedure [dbo].[Toy_CreateToy]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Toy_CreateToy]
	@ToyID varchar(50),
	@ToyName nvarchar(max),
	@ToyTypeID varchar(50),
	@Brand nvarchar(max),
	@Description nvarchar(max),
	@Image varchar(50),
	@Price int,
	@Quantity int,
	@OrderedQuantity int
AS
BEGIN
    insert into Toy(ToyID, ToyName, ToyTypeID, Brand, Description, Image, Price, Quantity, OrderedQuantity) 
	values(@ToyID, @ToyName, @ToyTypeID, @Brand, @Description, @Image, @Price, @Quantity, @OrderedQuantity)

END
GO
/****** Object:  StoredProcedure [dbo].[Toy_Delete]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Toy_Delete]
    @ID varchar(50)
AS
BEGIN
    DELETE FROM Toy WHERE ToyID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[Toy_GetAll]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Toy_GetAll]

AS
BEGIN
	select *
	from Toy
END
GO
/****** Object:  StoredProcedure [dbo].[Toy_GetAllType]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Toy_GetAllType]

AS
BEGIN
	select *
	from ToyType
END
GO
/****** Object:  StoredProcedure [dbo].[Toy_GetTypeList]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Toy_GetTypeList]
	@ID varchar(50)

AS
BEGIN
	select *
	from Toy	
	where ToyTypeID = @ID ;
END
GO
/****** Object:  StoredProcedure [dbo].[Toy_ToyTypeWithID]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Toy_ToyTypeWithID]
	@ID varchar(50)
AS
BEGIN
	select *
	from ToyType
	where ToyTypeID = @ID ;
END
GO
/****** Object:  StoredProcedure [dbo].[Toy_ToyWithID]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Toy_ToyWithID]
	@ID varchar(50)
AS
BEGIN
	select *
	from Toy
	where ToyID = @ID ;
END
GO
/****** Object:  StoredProcedure [dbo].[Toy_ToyWithName]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Toy_ToyWithName]
	@ToyName nvarchar(max)
AS
BEGIN
	SELECT * FROM Toy where ToyName LIKE '%' + @ToyName+ '%';
END
GO
/****** Object:  StoredProcedure [dbo].[Toy_ToyWithSelling]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Toy_ToyWithSelling]

AS
BEGIN
	select *
	from Toy
	ORDER BY OrderedQuantity DESC
END
GO
/****** Object:  StoredProcedure [dbo].[Toy_Update]    Script Date: 06/11/2023 2:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Toy_Update]
	@ToyID varchar(50),
	@ToyName nvarchar(max),
	@ToyTypeID varchar(50),
	@Brand nvarchar(max),
	@Description nvarchar(max),
	@Image varchar(50),
	@Price int,
	@Quantity int,
	@OrderedQuantity int
AS
BEGIN
    UPDATE Toy
    SET		ToyName = @ToyName,
			ToyTypeID = @ToyTypeID,
            Brand = @Brand,
            Description = @Description,
			Image =@Image,
			Price = @Price,
			Quantity = @Quantity,
			OrderedQuantity = @OrderedQuantity

    WHERE  ToyID = @ToyID
END
GO
