@using QuanLyCuaHangDoChoiOnline.Models
@model dynamic
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main">
    <div class="inner">
        <h1>GIỚI THIỆU TOYJOY</h1>

        <div class="image main">
            <img src="/images/banner-image-1-1920x500.jpg" class="img-fluid" alt="" />
        </div>

        <p><b>ToyJoy Online Shop</b> là điểm đến hàng đầu cho tất cả những người yêu thích và đam mê thế giới Gunpla - một thế giới đầy sáng tạo của mô hình Gundam. Với sự tập trung đặc biệt vào Gunpla, chúng tôi tự hào cung cấp một loạt sản phẩm chất lượng cao và phụ kiện đa dạng để bạn có thể tạo ra những tác phẩm nghệ thuật tự tay mình.</p>
        <p>Chúng tôi xin cam kết: 
            <ul>
                <li>Hàng chính hãng của Nhật Bản chất lượng tốt nhất</li>
                <li>Giao hàng nhanh trên toàn quốc</li>
                <li>Dịch vụ chuyên nghiệp. Tư vấn nhiệt tình, vui vẻ</li>
                <li>Mua hàng trực tuyến qua website thuận tiện nhất</li>
            </ul>
        </p>
        <p>Cảm ơn tất cả các bạn đã và đang ủng hộ ToyJoy.</p>
    </div>
</div>