@using QuanLyCuaHangDoChoiOnline.Models
@model dynamic
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main">
    <div class="inner">
        <h1>Thông tin liên hệ</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3725.3011426867965!2d105.78657997590966!3d20.980562389431036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ade83ba9e115%3A0x6f4fdb5e1e9e39ed!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBLaeG6v24gdHLDumMgSMOgIE7hu5lp!5e0!3m2!1svi!2s!4v1697364295448!5m2!1svi!2s" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <br />
    <ul class="alt">
        <li><span class="fa fa-envelope-o"></span> toyjoy_gundam_shop@gmail.com</li>
        <li><span class="fa fa-phone"></span> 0936759JQK </li>
        <li><span class="fa fa-map-pin"></span> Km 10, Đường Nguyễn Trãi, Quận Thanh Xuân , TP Hà Nội</li>
    </ul>
</div>

